#banner {
	width: 100%;
	height: 40vh;
	background: #111;
	padding: 0 10vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 20px;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed; //이미지의 위치를 브라우저로 고정

	h1 {
		font: bold 24px/1 'arial';
		color: #fff;
	}
	p {
		font: 14px/1.2 'arial';
		color: #ccc;
	}
}
