#visual {
	width: 100%;
	height: 100vh;
	background: #111;
	position: relative;
	overflow: hidden;

	.swiper-wrapper {
		position: relative;

		article[data-slide='1'] {
			background: hotpink;
			// display: flex;
			// align-items: center;
			// padding: 0 10vw;

			// video {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	object-fit: cover;
			// 	opacity: 0.3;
			// }
			// .txt {
			// 	position: relative;

			// 	h1 {
			// 		font-weight: normal;
			// 		font-size: 8vw;
			// 		color: #fff;
			// 		line-height: 1;
			// 		margin-bottom: 20px;
			// 	}
			// 	p {
			// 		width: 70%;
			// 		font: 22px/1.2 'arial';
			// 		color: #888;
			// 		margin-bottom: 80px;
			// 	}
			// 	a {
			// 		display: inline-block;
			// 		width: 300px;
			// 		height: 30px;
			// 		font: 11px/30px 'arial';
			// 		color: #bbb;
			// 		border: 1px solid #bbb;
			// 		text-align: center;
			// 	}
			// }
		}
		article[data-slide='2'] {
			background: aqua;
		}
		article[data-slide='3'] {
			background: orange;
		}
	}
	.swiper-button-next {
		bottom: 50px;
		top: auto;
		right: 50px;
		transform: scale(0.5);
		filter: brightness(1000%) saturate(0%);
	}
	.swiper-button-prev {
		bottom: 50px;
		top: auto;
		left: auto;
		right: 100px;
		transform: scale(0.5);
		filter: brightness(1000%) saturate(0%);
	}
}

@media screen and (max-width: $tablet) {
	#visual {
		height: calc(100vh - 100px);
		.swiper-wrapper {
			article {
				.txt {
					h1 {
						font-size: 12vw;
					}
					p {
						width: 100%;
					}
					a {
						width: 100%;
					}
				}
			}
		}
	}
}
